{% extends 'base.html.twig' %}{% block title %}Marcacoes index{% endblock %}{% block body %}
<div class="container">
    {% block navbar %} {% include ('navbar.html.twig') %} {% endblock navbar %}
    <div class="row">
        <div class="col-md-12">
            <h6 class="ml-3 text-info">Marcações</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-hover table-sm">
                    <thead class="bg-dark text-info">
                        <tr>
                            <!--<th>Id</th>
                            <th>Nome</th>-->
                            <th>Servico</th>
                            <!--<th>Tiposervico2</th>
                            <th>Tiposervico3</th>
                            <th>Tiposervico4</th>-->
                            <th>Dia</th>
                            <th>Hora</th>
                            <!--<th>Notas</th>-->
                            <th>Estado</th>
                            <!--<th>Valor</th>
                            <th>Registo</th>
                            <th>Registo_update</th>-->
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for marcaco in marcacoes %}
                        <tr>
                            <!--<td>{{ marcaco.id }}</td>-->
                            <td>{{ marcaco.servico1 }}</td>
                            <!--<td>{{ marcaco.servico2 }}</td>
                            <td>{{ marcaco.servico3 }}</td>
                            <td>{{ marcaco.servico4 }}</td>-->
                            <td>{{ marcaco.marcacaoDia ? marcaco.marcacaoDia|date('Y-m-d') : '' }}</td>
                            <td>{{ marcaco.marcacaoHora ? marcaco.marcacaoHora|date('H:i:s') : '' }}</td>
                            {#<td>{{ marcaco.notas }}</td>#}
                            {#<td>{{ marcaco.valor }}</td>#}
                            <td>{{ marcaco.estado }}</td>
                            {#<td>{{ marcaco.registo ? marcaco.registo|date('Y-m-d H:i:s') : '' }}</td>#}
                            {#<td>{{ marcaco.registoUpdate ? marcaco.registoUpdate|date('Y-m-d H:i:s') : '' }}</td>#}
                            <td>
                                <a href="{{ path('marcacoes_show', {'id': marcaco.id}) }}"><i class="fas fa-eye fa-1x text-info" title="Detalhes da marcação"></i></a>
                                <a href="{{ path('marcacoes_edit', {'id': marcaco.id}) }}"><i class="fas fa-edit fa-1x text-warning" title="Editar marcação"></i></a>
                                {#{{ include('marcacoes/_delete_form.html.twig') }}#}
                                <a href="{{ path('marcacoes_delete', {'id': marcaco.id}) }}"><i class="fas fa-trash-alt fa-1x text-danger" title="Eliminar marcação"></i></a>

                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="14">Não existem Marcações</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <hr>
            </p>
            <a href="{{ path('marcacoes_new') }}"><button class="btn btn-outline-info" title="Criar nova marcação">CRIAR MARCAÇÃO</button></a>
        </div>
    </div>
    {% block footer %} {% include ('footer.html.twig') %} {% endblock footer %}
</div>

{% endblock %}