{% extends 'base.html.twig' %} {% block title %}Usuarios{% endblock %} {% block body %}
<div class="container">
    {% block navbar %} {% include ('navbar.html.twig') %} {% endblock navbar %}
    <div class="py-3">
        <div class="row">
            <div class="col-md-10">
                <h5 class="ml-5 text-info">Dados Pessoais</h5>
            </div>
        </div>
    </div>
    <div class="py-1 ml-5 col-md-10 border border-warning">
        <div class="row">
            <div class="col-md-10">
                <br>
                <div class="table-responsive-md">
                    <table class="table table-hover table-sm">
                        <tbody>
                            <!--<tr>
                                <th>Id</th>
                                <td>{{ user.id }}</td>
                            </tr>-->
                            <tr>
                                <th>Nome</th>
                                <td>{{ user.nome }}</td>
                            </tr>
                            <tr>
                                <th>Apelido</th>
                                <td>{{ user.apelido }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Login</th>
                                <td>{{ user.login }}</td>
                            </tr>
                            <!--<tr>
                                <th>Password</th>
                                <td>{#{{ user.password }}#}</td>
                            </tr>-->
                            <tr>
                                <th>Activo</th>
                                <td>{{ user.activo ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Registo</th>
                                <td>{{ user.registo ? user.registo|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Registo_update</th>
                                <td>{{ user.registoUpdate ? user.registoUpdate|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ml-3 col-md-10">
                <div class="pt-2 text-left">
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-outline-info"><i class="fas fa-pencil-alt fa-1x"></i></button></a>
                </div>
                <div class="pb-2 text-right">
                    {{ include('user/_delete_form.html.twig', {'button_label': 'delete'}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
        <div class="row">
            <div class="ml-5 col-md-10 text-center">
                <a href="{{ path('user_index') }}"> <button class="btn btn-outline-info" title="Lista de usuários">Lista Usuários</button></a>
            </div>
        </div>
    </div>
    {% block footer %} {% include ('footer.html.twig') %} {% endblock footer %}
</div>

{% endblock %}
